<a href="https://colab.research.google.com/github/Ananthalakshmi-sm/PYTHON_ASSIGNMENT/blob/main/PYTHON_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Topic 1 — Functions (def) & Lambda Functions
Part A — Basic Function Concepts (Single Return Values)

In [ ]:
#1.     Write a function wish(name) that returns "Hello, Good Morning <name>!".

def wish(name):
  return (f"Hello, Good Morning {name}!")

In [ ]:
wish(name="junnu")

'Hello, Good Morning junnu!'

In [ ]:
#2.	Write a function cube(n) that returns the cube of a number (n³).

def cube(n):
    return n**3

In [ ]:
cube(3)

27

In [ ]:
#3.	Write a function check_even(n) that returns True if the number is even, else False.

def check_even(n):
  if n%2==0:
    return True
  else:
    return False

In [ ]:
check_even(4)

True

In [ ]:
check_even(7)

False

In [ ]:
#4.	Write a function greatest_of_two(a, b) that returns the larger of two numbers.

def greatest_of_two(a,b):
  if a>b:
    return a
  else:
    return b

In [ ]:
greatest_of_two(3,8)

8

In [ ]:
greatest_of_two(90,88)

90

In [ ]:
#5.	Write a function count_letters(s) that returns the number of characters in a string.

def count_letters(s):
  return len(s)

In [ ]:
count_letters("KSR datavision")

14

In [ ]:
#6.	Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)

def power(value,exp=2):
  return pow(value,exp)

In [ ]:
power(3)

9

In [ ]:
power(9)

81

Part B — Returning Multiple Values

In [ ]:
#7.	Write a function swap(a, b) that returns the two values swapped as a tuple.

def swap(a,b):
  return(b,a)

In [ ]:
swap(8,9)

(9, 8)

In [ ]:
#8.	Write a function add_sub(a, b) that returns both sum and difference of two numbers.

def add_sub(a,b):
  return(a+b,a-b)

In [ ]:
add_sub(12,12)

(24, 0)

In [ ]:
add_sub(8,9)

(17, -1)

In [ ]:
#9.	Write a function circle_stats(radius) that returns the area and circumference as a tuple.

def circle_stats(radius):
  area=3.14*radius**2
  circumference=2*3.14*radius
  return(area,circumference)

In [ ]:
circle_stats(5)

(78.5, 31.400000000000002)

In [ ]:
#10.	Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list.

def min_max_sum(nums):
  return ((max(nums),min(nums),sum(nums)))

In [ ]:
min_max_sum([1,2,36,44,90,7,65])

(90, 1, 245)

 Part C — Working with Strings & Formatting

In [ ]:
#11.	Write a function concat(*parts) that joins multiple strings together with spaces.

def concat(*parts):
  return " ".join(parts)

In [ ]:
result = concat("Python", "is", "fun")
print(result)

Python is fun

In [ ]:
#12.    Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First".

def format_name(first, last=""):
  if last:
    return f"{last}, {first}"
  else:
    return first

In [ ]:
print(format_name("Meghana", "Reddy"))
print(format_name("Meghana"))

Reddy, Meghana
Meghana

In [ ]:
#13.    Write a function greet_user(first, last) that returns a message like "Welcome, First Last!".

def greet_user(first,last):
  return f"Welcome, {first} {last}!"

In [ ]:
print(greet_user('Meghana','Reddy'))

Welcome, Meghana Reddy!

Part D — Lambda Functions

In [ ]:
#14.	Write a lambda function to add two numbers.

abc=lambda x,y:x+y

In [ ]:
abc(x=12,y=11)

23

In [ ]:
#15.    Write a lambda function mult = lambda *args: that returns the product of all arguments.

from functools import reduce
mult = lambda *args: reduce(lambda x, y: x * y, args)

In [ ]:
mult(2, 3)

6

In [ ]:
#16.    Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].

flatten = lambda pairs: [x for pair in pairs for x in pair]

In [ ]:
print(flatten([('a', 'b'), ('c', 'd')]))

['a', 'b', 'c', 'd']

Part E — Recursive, Higher-Order & Inner Functions

In [ ]:
#17.	Write a recursive function factorial(n) that returns the factorial of a number.

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [ ]:
print(factorial(5))

120

In [ ]:
#18.	Write a function apply_twice(func, x) that applies a function twice → func(func(x)).

def apply_twice(func, x):
    return func(func(x))

In [ ]:
def add_3(n):
    return n + 3

print(apply_twice(add_3, 7))

13

In [ ]:
#19.	Write a function inner_demo() that defines and calls an inner function inside it.

def inner_demo():
    def inner_function():
        print("Hello from the inner function!")

    # Calling the inner function
    inner_function()

In [ ]:
inner_demo()

Hello from the inner function!

In [ ]:
#20.	Write a function call_function(func, value) that takes another function as a parameter and applies it.

def call_function(func, value):
    return func(value)

In [ ]:
call_function(lambda x: x * 2, 5)

10

In [ ]:
#21.	Write a function square_list(nums) that defines a helper function square(x) inside it and returns a list of squares.

def square_list(nums):
    # Helper function defined inside
    def square(x):
        return x * x
    return [square(n) for n in nums]

In [ ]:
square_list([2,4,6,8,9])

[4, 16, 36, 64, 81]

Part F — Intermediate Function Concepts

In [ ]:
#22.	Write a function make_multiplier(m) that returns a new function which multiplies input values by m.
def make_multiplier(m):
    # Inner function that multiplies its input by m
    def multiplier(x):
        return x * m
    return multiplier

In [ ]:
double = make_multiplier(2)   # creates a function that doubles input
triple = make_multiplier(3)

In [ ]:
print(double(5))
print(triple(4))

10
12

In [ ]:
#23.	Write a function filter_primes(nums) that filters prime numbers using a helper is_prime() function.

def filter_primes(nums):
    def is_prime(n):
        if n < 2:
            return False
        for i in range(2, int(n**0.5) + 1):
            if n % i == 0:
                return False
        return True
    return [n for n in nums if is_prime(n)]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(filter_primes(numbers))

[2, 3, 5, 7]

In [ ]:
#24.	Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.
#Formula: F = C * 9/5 + 32

def convert_to_fahrenheit(celsius_list):
    return list(map(lambda c: c * 9/5 + 32, celsius_list))

In [ ]:
celsius = [0, 20, 37, 100]
print(convert_to_fahrenheit(celsius))

[32.0, 68.0, 98.6, 212.0]

In [ ]:
#25.	Write a function apply_if(func, predicate, iterable) that applies a function only to items that pass a condition.

def apply_if(func, predicate, iterable):
   return [func(x) if predicate(x) else x for x in iterable]

In [ ]:
def double(x):
    return x * 2

In [ ]:
def is_even(x):
    return x % 2 == 0

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(apply_if(double, is_even, numbers))

[1, 4, 3, 8, 5]

In [ ]:
#26.	Write a function curry(func) that converts a two-argument function into a curried version → can be called as f(a)(b).

def curry(func):
    return lambda a: lambda b: func(a, b)
def add(x, y):
    return x + y

curried_add = curry(add)

print(curried_add(5)(10))  # Output: 15

# Another example: multiplication
def multiply(x, y):
    return x * y

curried_multiply = curry(multiply)
print(curried_multiply(3)(4))

15
12

In [ ]:
#27.	Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.

def variadic_sum(*args, **kwargs):
    total = sum(args)
    scale = kwargs.get('scale', 1)
    return total * scale
print(variadic_sum(1, 2, 3))
print(variadic_sum(1, 2, 3, scale=2))
print(variadic_sum(5, 10, 15, scale=0.5))

6
12
15.0

In [ ]:
#28.	Write a function sort_by_length(strings) that sorts a list of strings by their length using a lambda as key.

def sort_by_length(strings):
    return sorted(strings, key=lambda s: len(s))
words = ["apple", "fig", "banana", "kiwi", "cherry"]
print(sort_by_length(words))

['fig', 'kiwi', 'apple', 'banana', 'cherry']

##Topic 2 — List Comprehensions

Part A — Basic Comprehension Practice

In [ ]:
#29.	Create [1,2,3,4] → list of their squares.
numbers = [1, 2, 3, 4]
squares = [x**2 for x in numbers]

print(squares)

[1, 4, 9, 16]

In [ ]:
#30.	Create ['a','b','c'] → list of their uppercase versions.
letters = ['a', 'b', 'c']
uppercase_letters = [l.upper() for l in letters]

print(uppercase_letters)

['A', 'B', 'C']

In [ ]:
#31.	Make a list of even numbers from 1 to 20.

even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#32.	Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].

words = ['apple', 'bee', 'cat']
word_lengths = [(word, len(word)) for word in words]
print(word_lengths)

[('apple', 5), ('bee', 3), ('cat', 3)]

In [ ]:
#33.	Flatten [[1,2], [3,4], [5]] → [1,2,3,4,5].

nested_list = [[1, 2], [3, 4], [5]]
flattened = [item for sublist in nested_list for item in sublist]

print(flattened)

[1, 2, 3, 4, 5]

In [ ]:
#34.	From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.

nums = [0, 1, 2, 3]
even_odd = ['even' if x % 2 == 0 else 'odd' for x in nums]
print(even_odd)

['even', 'odd', 'even', 'odd']

In [ ]:
#35.	Using a comprehension, make a list of booleans showing if numbers in a list are prime (use helper function).

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

nums = [0, 1, 2, 3, 4, 5, 6, 7]

prime_flags = [is_prime(x) for x in nums]

print(prime_flags)

[False, False, True, True, False, True, False, True]

In [ ]:
#36.	From range(1,50), select numbers divisible by both 2 and 3.

numbers = [x for x in range(1, 50) if x % 2 == 0 and x % 3 == 0]
print(numbers)

[6, 12, 18, 24, 30, 36, 42, 48]

In [ ]:
#37.	Create coordinate pairs (i, j) where i and j go from 0 to 2.

coordinates = [(i, j) for i in range(3) for j in range(3)]
print(coordinates)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [ ]:
#38.	From ['a b','c d e'], produce a flat list of all words.

strings = ['a b', 'c d e']
words = [word for s in strings for word in s.split()]

print(words)

['a', 'b', 'c', 'd', 'e']

Part B — Using Lists of Dictionaries

In [ ]:
#39.	Given students = [{'name':'A','score':80}, {'name':'B','score':60}], Create a list of names of students with score ≥ 75.

students = [{'name':'A','score':80}, {'name':'B','score':60}]
high_scorers = [student['name'] for student in students if student['score'] >= 75]

print(high_scorers)

['A']

In [ ]:
#40.	Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10.

numbers = range(1, 11)
squares_list = [{'n': n, 'square': n*n} for n in numbers]

print(squares_list)

[{'n': 1, 'square': 1}, {'n': 2, 'square': 4}, {'n': 3, 'square': 9}, {'n': 4, 'square': 16}, {'n': 5, 'square': 25}, {'n': 6, 'square': 36}, {'n': 7, 'square': 49}, {'n': 8, 'square': 64}, {'n': 9, 'square': 81}, {'n': 10, 'square': 100}]

In [ ]:
#41.	Merge two lists element-wise into tuples, but include only pairs where both elements are truthy.

list1 = [1, 0, 3, None, 5]
list2 = [2, 4, 0, 6, 7]

merged = [(a, b) for a, b in zip(list1, list2) if a and b]

print(merged)

[(1, 2), (5, 7)]

In [ ]:
#42.	Create a comprehension to transpose a matrix (swap rows ↔ columns).

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]

print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Part C — Advanced Comprehensions

In [ ]:
#43.	Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list.

nested = [[[1, 2], [3]], [[4]]]

flat = [item for sublist1 in nested for sublist2 in sublist1 for item in sublist2]

print(flat)

[1, 2, 3, 4]

In [ ]:
#44.	Write a comprehension that keeps only unique items from a list while preserving order.

items = [1, 2, 2, 3, 1, 4, 3]

seen = set()
unique_items = [x for x in items if not (x in seen or seen.add(x))]

print(unique_items)

[1, 2, 3, 4]

In [ ]:
#45.	Find all indices (positions) where a given number appears in a list.

nums = [1, 2, 3, 2, 4, 2, 5]
target = 2

indices = [i for i, x in enumerate(nums) if x == target]

print(indices)

[1, 3, 5]

In [ ]:
#46.	Generate all palindromic numbers (as strings) between 1 and 999.
palindromes = [str(n) for n in range(1, 1000) if str(n) == str(n)[::-1]]

print(palindromes)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '11', '22', '33', '44', '55', '66', '77', '88', '99', '101', '111', '121', '131', '141', '151', '161', '171', '181', '191', '202', '212', '222', '232', '242', '252', '262', '272', '282', '292', '303', '313', '323', '333', '343', '353', '363', '373', '383', '393', '404', '414', '424', '434', '444', '454', '464', '474', '484', '494', '505', '515', '525', '535', '545', '555', '565', '575', '585', '595', '606', '616', '626', '636', '646', '656', '666', '676', '686', '696', '707', '717', '727', '737', '747', '757', '767', '777', '787', '797', '808', '818', '828', '838', '848', '858', '868', '878', '888', '898', '909', '919', '929', '939', '949', '959', '969', '979', '989', '999']

In [ ]:
#47.	Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs.

d = {'a': [1, 2], 'b': [3]}

pairs = [(k, v) for k, values in d.items() for v in values]

print(pairs)

[('a', 1), ('a', 2), ('b', 3)]

In [ ]:
#48.	Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime.

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = [x for x in range(2, 100) if is_prime(x)]

prime_pairs = [(p, q) for p in primes for q in primes if is_prime(p + q)]

print(prime_pairs)

[(2, 3), (2, 5), (2, 11), (2, 17), (2, 29), (2, 41), (2, 59), (2, 71), (3, 2), (5, 2), (11, 2), (17, 2), (29, 2), (41, 2), (59, 2), (71, 2)]

In [ ]:
#49.	Create a lower-triangular matrix (n×n) with 1s below and on the diagonal, 0s above.

n = 4

lower_triangular = [[1 if j <= i else 0 for j in range(n)] for i in range(n)]

for row in lower_triangular:
    print(row)

[1, 0, 0, 0]
[1, 1, 0, 0]
[1, 1, 1, 0]
[1, 1, 1, 1]

In [ ]:
#50.	Generate all possible sequences of length 4 from 'abcd' with no repeated letters.

from itertools import permutations

chars = 'abcd'

sequences = [''.join(p) for p in permutations(chars, 4)]

print(sequences)

['abcd', 'abdc', 'acbd', 'acdb', 'adbc', 'adcb', 'bacd', 'badc', 'bcad', 'bcda', 'bdac', 'bdca', 'cabd', 'cadb', 'cbad', 'cbda', 'cdab', 'cdba', 'dabc', 'dacb', 'dbac', 'dbca', 'dcab', 'dcba']